<div class="container">
    <!-- <app-userprofile></app-userprofile> -->
    <div class="blog">

        <br>
        <br>

        <form>
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Blog Title</label>
                        <input type="email" class="form-control"  [(ngModel)]="blog.title" [ngModelOptions]="{standalone: true}" class="form-control" id="title" aria-describedby="emailHelp">

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Blog Category</label>
                         <select [(ngModel)]="blog.category.categoryid" [ngModelOptions]="{standalone: true}"  name="" id="" class="form-control">
                            <option  *ngFor="let cate of category" [value]="cate.categoryid">{{ cate.categoryname }}</option>
                         </select>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1"  class="form-control" class="form-label">Decription</label>
                <textarea class="form-control " [(ngModel)]="blog.content" [ngModelOptions]="{standalone: true}"  name="" id="" cols="30" rows="10"></textarea>
            </div>

            <button type="submit" class="btn btn-primary float-end" (click)="postBlog()">Post Blog</button>
        </form>
    </div>
</div>