@charset "ISO-8859-1";
nav {
			overflow: hidden;
			
		}
		
		.navbar-brand{
			font-weight: bolder;
			font-size: 25px;
			margin-left: 10px;
		}
		
		.nav-link{
			 font-weight:500;
		    font-size: large;
		}