
<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="welcome">
                    <h1>Welcome To </h1>
                    <h1>LinkMingle Blogs</h1>
                    <br>
                    <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem quisquam blanditiis quos consequatur autem harum.</h3>
                    <br>
                </div>

            </div>
            <div class="col-sm-5">
                <img src="../../assets/images/blog-removebg-preview.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="blogs">
    <app-blogs></app-blogs>
</section>
<app-footer></app-footer>
<router-outlet></router-outlet>