<div class="footer">
    <footer class="text-center text-white" style="background-color: rgb(233, 244, 254);">

        <div class="container pt-4">

            <section class="mb-4 text-center">



                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark">Home</a>
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark">Blogs</a>
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark">Topics</a>
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark">Instagram</a>
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark">Facebook</a>

            </section>
        </div>
        <div class="text-center text-dark p-3" style="background-color: rgb(203, 225, 251);">
            © 2020 Copyright:
            <a class="text-dark" href="https://linkmingle.com/">linkmingle.com</a>
        </div>
    </footer>
</div>